<!--
  Generated template for the SearchedProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>Buscar</ion-title>

     <ion-buttons end>
            <button *ngIf="followTrue()" ion-button color="danger" (click)="unfollowUser()" clear>Desseguir</button>
            <button *ngIf="!followTrue()" ion-button color="secondary" (click)="followUser()" clear>Seguir</button>
        </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding class="pg-profile">
  <!-- img -->
  <section text-center>
    <profile-pic-generator word="{{userSearch.username}}" color="#4A90E2"></profile-pic-generator>
  </section>

  <!-- name / username -->
  <p class="text-xxlarge-normal" text-center>
    @{{userSearch.username}}
    <br>
    <span class="text-default-light" text-center>{{userSearch.email}}</span>
  </p>

  <!-- follow grid -->
  <ion-grid>
    <ion-row>
      <ion-col class="text-default-light" text-center>
        <span class="text-default-medium">{{userSearch.following.length}}</span>
        <br> Seguindo
      </ion-col>

      <ion-col class="text-default-light" text-center>
        <span class="text-default-medium">{{userSearch.followers.length}}</span>
        <br> Seguidores
      </ion-col>

      <ion-col class="text-default-light" text-center>
        <span class="text-default-medium">{{userSearch.reputation}}</span>
        <br> Reputação
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- teams row -->
  <section class="favorite-teams">
    <p class="text-default-light">Times Favoritos</p>
    <div *ngIf="userSearch.favTeams.length==0">
      <p class="text-default-light">Usuário sem times favoritos!</p>
    </div>

    <div *ngIf="userSearch.favTeams.length==1">
      <img width="40" height="40" src={{userSearch.favTeams[0].teamLogoUrl}}>
    </div>

    <div *ngIf="userSearch.favTeams.length==2" (click)="gotoTeamsPage()">
      <img width="40" height="40" src={{userSearch.favTeams[0].teamLogoUrl}}>
      <img width="40" height="40" src={{userSearch.favTeams[1].teamLogoUrl}}>
    </div>

    <div *ngIf="userSearch.favTeams.length >=3 ">
      <img width="40" height="40" src={{userSearch.favTeams[0].teamLogoUrl}}>
      <img width="40" height="40" src={{userSearch.favTeams[1].teamLogoUrl}}>
      <img width="40" height="40" src={{userSearch.favTeams[2].teamLogoUrl}}>
    </div>
  </section>

  <section class="last-match">

    <span class="text-default-light">Ultima partida</span>
    <span class="text-secondary" float-right> Ver todas </span>

    <googol-card [event]="eventos[0]" action="NONE"></googol-card>
  </section>

</ion-content>