<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img width="22" height="17" src="./assets/imgs/hamburger_icon.png"/>
    </button>
    <ion-title class="text-large-medium">Jogos</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openFilterModal()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="filteredMatches.length !== 0">
    <googol-card *ngFor="let match of filteredMatches" [match]="match" action="ADD_EVENT"></googol-card>
  </div>
  <div *ngIf="filteredMatches.length === 0">
    Jogo(s) não encontrado(s)
  </div>
</ion-content>
