#googol-menu{

    background-color: #000000;
    color: white;
    text-align: center !important;
    
    img{
        margin-top: 30%;
        width: 145px;
        height: auto;
    }

    ion-list{
        margin-top: 20%;
        ion-item{
            margin-top: 10px;
            color: white;
            background-color: #000000;
        }
    }
}