<ion-header>
  <ion-navbar>
    <ion-title>{{ currentBar.name }}</ion-title>
    <ion-buttons end>
      <button *ngIf="followTrue()" ion-button color="danger" (click)="unfollowBar()" clear>Desseguir</button>
      <button *ngIf="!followTrue()" ion-button color="secondary" (click)="followBar()" clear>Seguir</button>
  </ion-buttons>>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <googol-card [address]="currentBar.address" phone="(83) 98176-0281"></googol-card>
  <googol-card [promotion]="currentBar.promo"></googol-card>
</ion-content>
