<!-- Match Card -->
<div class="base" *ngIf="match">

  <ng-container *ngIf="(((currentDate.getTime() - match.matchDate.getTime())/3600000) < 2.5) &&
            (((currentDate.getTime() - match.matchDate.getTime())/3600000) > 0) then liveContent else scheduledContent">
  </ng-container>

  <ng-template #liveContent>
    <header id="liveContent">
      <span class="text-default-medium">{{match.league}}</span>
      <span class="text-default-normal text-mute" float-right>Agora</span>
    </header>
  </ng-template>

  <ng-template #scheduledContent>
    <header>
      <span class="text-default-medium">{{match.league}}</span>
      <span class="text-default-normal text-mute" float-right>{{match.matchDate | date:'HH:mm, dd MMM'}}</span>
    </header>
  </ng-template>

  <hr>

  <section class="body">
    <ion-grid text-center>
      <ion-row>
        <ion-col col-5>
          <img width="50" height="50" src="{{match.homeTeamLogoUrl}}">
          <br>
          <span class="text-default-normal">{{match.homeTeam}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="text-xlarge-bold text-mute">
            <br> X
          </span>
        </ion-col>
        <ion-col col-5>
          <img width="50" height="50" src="{{match.awayTeamLogoUrl}}">
          <br>
          <span class="text-default-normal">{{match.awayTeam}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <ng-container *ngIf="(((currentDate.getTime() - match.matchDate.getTime())/3600000) < 2.5) &&
  (((currentDate.getTime() - match.matchDate.getTime())/3600000) > 0) then positiveContent else negativeContent">
  </ng-container>

  <ng-template #positiveContent>
    <span *ngIf="action == 'ADD_EVENT'">
      <p class="text-small-normal text-secondary" text-center>
        Sabe onde o jogo está sendo transmitido?
      </p>
      <button *ngIf="action == 'ADD_EVENT'" class="googol-btn-secondary" (click)="createEvent()">
        Adicionar Evento
      </button>
    </span>
  </ng-template>

  <ng-template #negativeContent>
    <span *ngIf="action == 'ADD_EVENT'">
      <p class="text-small-normal text-danger" text-center>
        Sabe onde o jogo será transmitido?
      </p>
      <button *ngIf="action == 'ADD_EVENT'" class="googol-btn-danger" (click)="createEvent()">
        Adicionar Evento
      </button>
    </span>
  </ng-template>
</div>


<!-- Event Card -->
<div class="base" *ngIf="event">
  <header>
    <span class="text-default-medium">{{event.match.league}}</span>
    <span class="text-small-normal">
      <br>
      <ion-icon name="navigate"></ion-icon> {{event.bar.name}}
    </span>
    <span class="text-default-normal text-mute" float-right>{{event.match.matchDate | date:'HH:mm, dd MMM'}}</span>
  </header>

  <hr>

  <section class="body">
    <ion-grid text-center>
      <ion-row>
        <ion-col col-5>
          <img width="50" height="50" src="{{event.match.homeTeamLogoUrl}}">
          <br>
          <span class="text-default-normal">{{event.match.homeTeam}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="text-xlarge-bold text-mute">
            <br> X
          </span>
        </ion-col>
        <ion-col col-5>
          <img width="50" height="50" src="{{event.match.awayTeamLogoUrl}}">
          <br>
          <span class="text-default-normal">{{event.match.awayTeam}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <ng-container *ngIf="(((currentDate.getTime() - event.match.matchDate.getTime())/3600000) < 2.5) &&
  (((currentDate.getTime() - event.match.matchDate.getTime())/3600000) > 0) then positiveContent else negativeContent">
  </ng-container>

  <ng-template #positiveContent>
    <span *ngIf="action == 'CONFIRM_PRESENCE' || action == 'SHOW'">
      <p class="text-small-medium text-mute" text-center>
        <span class="text-dark">@cr7</span>
        e outras 10 pesssoas confirmaram presença
      </p>
      <br>
      <button *ngIf="action !== 'SHOW'" class="googol-btn-secondary" (click)="confirmPresence()">
        Confirmar Presença
      </button>
    </span>
  </ng-template>

  <ng-template #negativeContent>
    <span *ngIf="action === 'CONFIRM_PRESENCE' || action === 'SHOW'">
      <p class="text-small-medium text-mute" text-center>
        <span class="text-dark">@cr7</span>
        e outras 10 pesssoas confirmaram presença
      </p>
      <br>
      <button *ngIf="action !== 'SHOW'" class="googol-btn-danger" (click)="confirmPresence()">
        Confirmar Presença
      </button>
    </span>
  </ng-template>
</div>

<!-- My Event Card -->
<div class="base" *ngIf="myEvent">
  <header>
    <span class="text-default-medium">{{myEvent.match.league}}</span>
    <span class="text-small-normal">
      <br>
      <ion-icon name="navigate"></ion-icon> {{myEvent.bar.name}}
    </span>
    <span class="text-default-normal text-mute" float-right>{{myEvent.match.matchDate | date:'HH:mm, dd MMM'}}</span>
  </header>

  <hr>

  <section class="body">
    <ion-grid text-center>
      <ion-row>
        <ion-col col-5>
          <img width="50" height="50" src="{{myEvent.match.homeTeamLogoUrl}}">
          <br>
          <span class="text-default-normal">{{myEvent.match.homeTeam}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="text-xlarge-bold text-mute">
            <br> X
          </span>
        </ion-col>
        <ion-col col-5>
          <img width="50" height="50" src="{{myEvent.match.awayTeamLogoUrl}}">
          <br>
          <span class="text-default-normal">{{myEvent.match.awayTeam}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <span *ngIf="action === 'CONFIRM_PRESENCE' || action === 'SHOW'">
    <p class="text-small-medium text-mute" text-center>
      <span class="text-dark">@cr7</span>
      e outras 10 pesssoas confirmaram presença
    </p>
    <br>
    <button *ngIf="action !== 'SHOW'" class="googol-btn-danger" (click)="deleteEvent()">
      Remover Evento
    </button>
  </span>

</div>

<!-- Promotion Card -->
<div class="base" *ngIf="promotion">

  <header text-center>
    <span class="text-default-medium">Promoção</span>
  </header>

  <hr>

  <section class="body" text-center>
    <textarea class="googol-input" rows="7" readonly> {{promotion}}</textarea>
  </section>
</div>

<!-- Info Card -->
<div class="base" *ngIf="address">

  <header>
    <span class="text-default-medium">Informações</span>
  </header>

  <hr>

  <section class="body">
    <span>
      <ion-icon name="compass"></ion-icon> {{address}}</span>
    <br>
    <br>
    <span *ngIf="phone">
      <ion-icon name="call"></ion-icon> {{phone}}
    </span>

    <span *ngIf="!phone">
      <ion-icon name="call"></ion-icon> Sem telefone
    </span>
  </section>
</div>
