<ion-header>
  <ion-navbar>
    <ion-title>Buscar</ion-title>

    <ion-buttons end>
      <button  ion-button color="danger" (click)="goBack()" clear>Cancelar</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding padding id="SEARCH_PAGE">
  <ion-searchbar placeholder="Digite para pesquisar" [(ngModel)]="inputSearch" [showCancelButton]="shouldShowCancel" (keyup)="searchBar(inputSearch)">
  </ion-searchbar>

  <ion-list no-lines>
    <div *ngIf="showList">
      <button ion-item detail-none *ngFor="let bar of bars" (click)="sendId(this.bar)">
        <ion-avatar item-start>
          <profile-pic-generator word="{{bar.name}}" color="#4A90E2"></profile-pic-generator>
        </ion-avatar>
        {{bar.name}}
      </button>
    </div>
    <ion-item no-lines *ngIf="inputSearch !== undefined && inputSearch !== '' && !showList">
      Estabelecimento não encontrado
    </ion-item>
  </ion-list>


</ion-content>