<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img width="22" height="17" src="./assets/imgs/hamburger_icon.png" />
    </button>
    <ion-title class="text-large-medium">Meu Perfil</ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="gotoEdit()" clear>Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="pg-profile">
  <!-- img -->
  <section text-center>
    <profile-pic-generator word="{{user.username}}" color="#4A90E2"></profile-pic-generator>
  </section>

  <!-- name / username -->
  <p class="text-xxlarge-normal" text-center>
    @{{user.username}}
    <br>
    <span class="text-default-light" text-center>{{user.email}}</span>
  </p>

  <!-- follow grid -->
  <ion-grid class="follow-grid">
    <ion-row>
      <ion-col class="text-average-light" text-center (click)="gotoFollowingPage()">
        <span class="text-average-medium" >{{user.following.length + user.followingBars.length}}</span>
        <br> Seguindo
      </ion-col>

      <ion-col class="text-average-light" text-center (click)="gotoFollowersPage()">
        <span class="text-average-medium" >{{user.followers.length}}</span>
        <br> Seguidores
      </ion-col>

      <ion-col class="text-average-light" text-center>
        <span class="text-average-medium">{{user.reputation}}</span>
        <br> Reputação
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- teams row -->
  <section class="favorite-teams">
    <p class="text-average-medium" text-center>Times Favoritos</p>

    <div *ngIf="user.favTeams.length==0" (click)="gotoTeamsPage()">
      <p class="text-default-light" text-center>Adicione seus times favoritos!</p>
    </div>

    <span (click)="gotoTeamsPage()" class="team-row" text-center>
      <img width="45" height="45" *ngFor="let team of user.favTeams" src={{team.teamLogoUrl}}>
    </span>
  </section>

</ion-content>