
.pg-profile{
    .follow-grid{
        padding-top: 20px;
    }
    .favorite-teams{
        padding-top: 20px;
        .team-row{
            text-align: center;
            img{
                margin: 2px;
            }
        }
    }    
}