#SIGNUP_PAGE{
    background-image: url('../assets/imgs/singin_background.png');
    background-size: cover;

    img{
        margin-top: 15%;
        margin-bottom: 10%;
    }

    input{
        margin-bottom: 5%;
    }

    .account{
        margin-top: 15%;
    }
    
}