<ion-header>
    <ion-navbar>
        <ion-title>Filtros</ion-title>
        <ion-buttons end>
            <button ion-button (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <ion-list no-lines>
        <ion-item>
            <ion-label>Estabelecimento</ion-label>
            <ion-select id="Estabelecimento" >
                <ion-option *ngFor="let bar of bars">{{ bar }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list no-lines>
        <ion-item>
            <ion-label>Times</ion-label>
            <ion-select id="Times">
                <ion-option *ngFor="let team of teams" [value]="team">{{ team }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

</ion-content>